BODY {
	font-family: seshatregular;
	background-color:#000;
	color:#ccc;
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

#header {
	margin:20px 0;
	text-align:center;
}

.logo {
	width:200px;
	height:100px;
	display: inline-block;
	background-image: url(logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#table {
	width:100%;
	text-align: center;
}

.sheet {
	border:1px solid #ccc;
	background-color: #fff;
	box-shadow: 1px 1px 5px #333;
	overflow: hidden;
	position: relative;
}

.sheet * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.token {
	cursor:pointer;
	text-align: center;
	font-size: 20px;
	border:1px solid #000;
	border-bottom: 3px solid #000;
	color:#000;
}

.token-0 {
	background-color: rgba(255,0,0,0.5);
	border-radius: 100px;
}

.token-1 {
	font-size: 10px;
	background-color: rgba(255,0,0,0.5);
	border-radius: 5px;
}

.token-2, .token-3 {
	font-size: 20px;
	border-radius: 5px;
	background-color: #0f0;						
}

#credits {
	padding:10px 0;
	text-align: center;
}

.mark {
	color:#fff;
}

#guide {
	margin:20px 0;
	text-align: center;
}

#guide P {
	margin: 10px 0;
	padding: 0;
}

.guidetoken {
	border:1px solid #ccc;
	border-bottom: 2px solid #ccc;
	color:#000;
	width:10px;
	height:10px;
	display: inline-block;
}

#guide .token-1 {
	border-radius: 0px;
}