BODY {
	font-family: SeshatPlus;
	background-color:#000;
	color:#ccc;
	position: relative;
	overflow: hidden;
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

#box {
	text-align: center;
	opacity:0;
	transition: all 1s;
	position: absolute;
	width:90%;
	top: 50%;
	transform: translate(5%, -55%) scale(2);
	transition-timing-function:ease;
}

#waitbox {
	position: absolute;
	text-align: center;
	position: absolute;
	width:90%;
	top: 50%;
	transform: translate(5%, -55%) scale(2);
	transition-timing-function:ease;
}

#box.show {
	opacity: 1;
	transform: translate(5%, -55%) scale(1);
}

.ruler {
	display: inline-block;
	transition: all 1s;
	width: 0px;
	height:1px;
	margin:20px 0;
	background-color: #ccc;
}

#box.show .ruler {
	width: 100%;
}

.tips, #credits {
	font-size: 15px;
	line-height: 20px;
}

.you, .mark, #downloadquest {
	color:#fff;
}

#downloadquest {
	text-decoration: underline;
	cursor:pointer;
}

.header {
	font-size: 2vw;
}

.title {
	display: block;
	text-decoration: none;
	color:#ccc;
	font-size: 7vw;	
	cursor: pointer;
}

#credits {
	position: absolute;
	left:10px;
	right:10px;
	bottom: 10px;
	text-align: center;
}

@media (max-width: 600px) {
	.header {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.title {
		font-size: 30px;
	}
	#credits {
		font-size: 10px;
		line-height: 12px;
	}
}